TheBillingProject/Connected Services/Contabilidad/wsXContabilidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarAsiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdAuxiliar" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CuentaDB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CuentaCR" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarAsientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarAsientoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="registrarAsientoSoapIn">
    <wsdl:part name="parameters" element="tns:registrarAsiento" />
  </wsdl:message>
  <wsdl:message name="registrarAsientoSoapOut">
    <wsdl:part name="parameters" element="tns:registrarAsientoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSXContabilidadSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarAsiento">
      <wsdl:input message="tns:registrarAsientoSoapIn" />
      <wsdl:output message="tns:registrarAsientoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSXContabilidadSoap" type="tns:WSXContabilidadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarAsiento">
      <soap:operation soapAction="http://tempuri.org/registrarAsiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSXContabilidadSoap12" type="tns:WSXContabilidadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarAsiento">
      <soap12:operation soapAction="http://tempuri.org/registrarAsiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSXContabilidad">
    <wsdl:port name="WSXContabilidadSoap" binding="tns:WSXContabilidadSoap">
      <soap:address location="https://wscontabilidad.azurewebsites.net/wsXContabilidad.asmx" />
    </wsdl:port>
    <wsdl:port name="WSXContabilidadSoap12" binding="tns:WSXContabilidadSoap12">
      <soap12:address location="https://wscontabilidad.azurewebsites.net/wsXContabilidad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>